<div class="container">
    <h3>Angular 2 Form</h3>
  </div>


  <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <img [src]="images[0]" alt="Random first slide">
        <div class="carousel-caption">
          <h3>First slide label</h3>
          <p>Nulla vitae elit libero, a pharetra augue mollis interdum. Awkward.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[1]" alt="Random second slide">
        <div class="carousel-caption">
          <h3>Second slide label</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <img [src]="images[2]" alt="Random third slide">
        <div class="carousel-caption">
          <h3>Third slide label</h3>
          <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
      </ng-template>
    </ngb-carousel>


  <!-- <div class="form-group">
    <label class="control-label" for="firstName">First Name</label>
    <input  name="firstName" 
            type="text" 
            required 
            pattern="...+"
            class="form-control" 
            [class.is-invalid]="firstName.invalid && firstName.touched" 
            [(ngModel)]="model.firstName"
            #firstName="ngModel">
    <div *ngIf="firstName.invalid && firstName.touched" class="alert alert-danger">
      First name is required.
    </div>
  </div>
  <div class="form-group">
      <label class="control-label" for="lastName">Last Name</label>
      <input  name="lastName" 
              type="text" 
              required 
              pattern="...+"
              class="form-control"   
              [class.is-invalid]="lastName.invalid && lastName.touched" 
              [(ngModel)]="model.lastName"
              #lastName="ngModel">
      <div *ngIf="lastName.invalid && lastName.touched" class="alert alert-danger">
        Last name is required.
      </div>
   </div>
   <div class="checkbox">
    <label>
      <input type="checkbox" name="is-full-time" [(ngModel)]="model.isFullTime"> Is Full Time Employee
    </label>
  </div>
  <label>Payment Type</label>
  <div class="radio">
    <label>
      <input type="radio" name="paymentType" value="w2" [(ngModel)]="model.paymentType">W2
      <input type="radio" name="paymentType" value="1099" [(ngModel)]="model.paymentType">1099
    </label>
  </div>
  <div class="form-group">
      <label>Primary Language</label>
      <select #primaryLanguage
              required
              class="form-control"
              [class.is-invalid]="hasPrimaryLanguageError" 
              name="primaryLanguage"
              (blur)="validatePrimaryLanguage(primaryLanguage.value)"
              (change)="validatePrimaryLanguage(primaryLanguage.value)"
              [(ngModel)]="model.primaryLanguage">
        <option value="default">Select a language...</option>
        <option *ngFor="let lang of languages">
          {{ lang }}
        </option>
      </select>
  </div>
  <div class="form-group">
      <label class="control-label" for="dateHired">Date Hired</label>
      <input class="form-control" type="date" name="dateHired" [(ngModel)]="model.dateHired">
  </div>
  <button class="btn btn-primary" type="submit">OK</button> -->